In [1]:
import numpy as np
import pandas as pd

In [3]:
pd.read_csv("data/result/2025-05-16 02:12_test/result.csv").head()

,param_1,param_2,param_3,param_4,param_5,param_6,param_7,param_8,param_9,param_10,param_11,param_12,param_13,target,prediction,difference
0,-0.404105,-0.487722,0.406098,-0.272599,-1.016689,-0.704685,-0.376050,1.200287,-0.637962,-0.708183,-1.135347,0.441052,0.446725,-0.243013,0.111306,-0.354319
1,0.926840,-0.487722,1.015999,-0.272599,1.255192,-1.778878,1.010813,-0.962643,1.661245,1.530926,0.806576,0.441052,1.826035,-1.396690,-0.066934,-1.329756
2,-0.305491,-0.487722,-0.437258,-0.272599,-0.144217,-0.671918,1.117494,0.142686,-0.637962,-0.601276,1.176466,0.415176,1.013027,-0.874270,0.041872,-0.916142
3,-0.410777,1.443658,-1.123032,-0.272599,-1.016689,1.282714,-1.055256,0.366822,-0.523001,-0.060801,-1.505237,0.441052,-1.018091,1.346014,0.241492,1.104522
4,-0.413843,-0.487722,-0.969827,-0.272599,-0.913029,0.492028,-0.443615,0.305499,-0.752922,-0.957633,0.020560,0.390616,-0.858293,0.442663,0.015223,0.427440